{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>注册</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'login/css/register.css' %}" />
    <style></style>
  </head>
  <body>

    <div class="container">
      <div class="col">
        <form class="form-register" action="{% url 'register' %}" method="post">

          {% if register_form.captcha.errors %}
            <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
          {% elif message %}
            <div class="alert alert-warning">{{ message }}</div>
          {% endif %}

          {% csrf_token %}
          <h3 class="text-center">欢迎注册</h3>

          <div class="form-group">
            {{ register_form.username.label_tag }}
            {{ register_form.username}}
          </div>
          <div class="form-group">
            {{ register_form.password.label_tag }}
            {{ register_form.password }}
          </div>
          <div class="form-group">
            {{ register_form.confirm_password.label_tag }}
            {{ register_form.confirm_password }}
          </div>
          <div class="form-group">
            {{ register_form.email.label_tag }}
            {{ register_form.email }}
          </div>
          <div class="form-group">
            {{ register_form.gender.label_tag }}
            {{ register_form.gender }}
          </div>
          <div class="form-group">
            {{ register_form.captcha.label_tag }}
            {{ register_form.captcha }}
          </div>

          <div>
            <a href="{% url 'login' %}"><ins>直接登录</ins></a>
            <button type="submit" class="btn btn-primary pull-right">注册</button>
          </div>
        </form>
      </div>
    </div> <!-- /container -->

  	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  </body>
</html>